[Unit]
Description=Promtail Service
After=network.target

[Service]
Type=simple
ExecStart=/home/user/promtail/promtail -config.file=/home/user/promtail/promtail.yaml
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
