global:
  scrape_interval: 15s
  evaluation_interval: 15s
alerting:
  alertmanagers:
    - static_configs:
        - targets:
rule_files:
scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]
        labels:
          app: "prometheus"


  - job_name: 'node'
    static_configs:
      - targets: ['192.168.0.107:9100']

  - job_name: "rabbitmq"
    static_configs:
      - targets: ["192.168.0.107:9419"]

  - job_name: "postgres"
    static_configs:
      - targets: ["192.168.0.107:9187"]

  - job_name: "cadvisor"
    static_configs:
      - targets: ["192.168.0.107:8080"]

